.subtitle{
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  border-radius: 50%;
}
.subtitle::before{
  content: '';
  display: block;
  width: 60%;
  height: 4px;
  color: var(--mainColor);
  background-color: var(--mainColor);
  box-shadow: 0 0 15px var(--mainColor);
  position: absolute;
  top: -30px;
  right: 0;
  border-radius: 90px 0 0 90px;
}
.subtitle::after{
  content: '';
  display: block;
  width: 50%;
  height: 4px;
  background-color: var(--mainColor);
  box-shadow: 0 0 7px var(--mainColor);
  position: absolute;
  bottom: -30px;
  left: 0;
  border-radius: 0 90px 90px 0;
}
.ServiceContent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 20px;
  border-radius: 20px;
  padding: 20px 0;
}

.cardService{
  box-shadow: 0 0 15px white;

  margin: 20px 45px;
  width: 20%;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*box-shadow: 0 0 25px rgba(0,0,0,0.5);*/
  border-radius: 10px 10px 0 0;
}
.imageCard{
  width: 100%;
  height: 300px;
}
.imageCard img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  opacity: 70%;
  z-index: 1;
}

.textCard{
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 20%;
  min-width: 300px;

  margin-top: 170px;
  font-family: 'Roboto', sans-serif;
  color: black;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  text-align: center;
  transition: 0.7s;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  z-index: 5;
}
.textCard:hover{
  height: 300px;
  margin-top: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  transition: .7s;
}
.h2Card{
  position: relative;
  font-size: 1.0rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 45px 6px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textCard p{
  margin-top: 30px;
  padding: 0 20px;
}
.textCard h5{
  font-size: 1rem;
  margin-top: 25px;
}
