<div class="homeContent">
  <div class="homeImg">
    <img src="../../../../assets/img/weekEnd.png">
  </div>
  <div class="homeText">
    <h1>BIENVENIDO, SOMOS <span> IEEEcs UPC</span></h1>
    <h3 class="typing-text">Somos <span></span> </h3>
    <p>The Weekend Hack - 2da Edición" es un evento multifacético diseñado para sumergir a estudiantes y entusiastas
      en el mundo emocionante y desafiante de la ciberseguridad. Durante cuatro días, combina talleres prácticos virtuales,
      conferencias presenciales y una emocionante competencia virtual de Capture the Flag (CTF).
      <br><br>
      El evento tiene como objetivo no solo educar, sino también inspirar a estudiantes y entusiastas de Lima,
      otras regiones del Perú y del extranjero a adentrarse en el campo de la ciberseguridad. Con acceso gratuito y
      abierto al público en general, se busca fomentar el interés en esta área en constante evolución, facilitando un
      espacio para el aprendizaje, la interacción y el desarrollo de habilidades.</p>
    <div class="socialMedia">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>


</div>
</div>

