.header{
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background:rgb(0, 0, 0, 0.8);
}

.space{
  height: 100px;
}


.logoimg{
  width: 350px;
  height: auto;
  margin-left: 30px;
  justify-content: flex-end;
}

#menuList{
  color: var(--mainColor);
  font-size: 30px;
  display: none;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.navbar a{
  margin: 0 8px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  transition: all 0.3s ease;
  position: relative;
  /*text-shadow: 1px  0px 0px var(--mainColor),
  0px  1px 0px var(--mainColor),
  -1px  0px 0px var(--mainColor),
  0px -1px 0px var(--mainColor);*/
  text-shadow: 0 0 2px red, 0 0 7px red;

}

.navbar a::before,
.navbar a::after{
  content: '';
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  position: absolute;
  border-bottom: 2px solid var(--mainColor);
  opacity: 0;
  transition: 0.2s;
}

.navbar a::before{
  bottom: -5px;
  right: 0;
  width: 90%;
}
.navbar a::after{
  bottom: -10px;
  width: 60%;
  left: 0;
}
.navbar a:hover::before{
  width: 70%;
  opacity: 1;
}
.navbar a:hover::after{
  width: 40%;
  opacity: 1;
}
.navbar a:hover{
  color:  var(--mainColor);
  text-shadow: 1px  0px 0px black,
  0px  1px 0px black,
  -1px  0px 0px black,
  0px -1px 0px black;
  cursor: pointer;
}

@media (max-width: 1010px){

  @media (max-width: 768px){
    .logoimg{
      width: 280px;
    }
  }

  #menuList{
    display: block;
    cursor: pointer;
    margin: 0 30px;
  }
  .navbar{
    position: absolute;
    top:100%;
    left: 0;
    width: 40%;
    border-left: 3px solid var(--mainColor);
    border-bottom: 3px solid var(--mainColor);
    border-bottom-left-radius: 2rem;
    padding: 1rem 3%;
    background-color: green;
    border-top: 0.1rem solid black;
    display: none;
  }

  .navbar.active{
    display: block;
  }
  .navbar a{
    display: block;
    font-size: 2rem;
    margin: 10px 0;
  }
  .navbar a:hover,
  .navbar a.active {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid var(--mainColor);
  }
}
