<header class="header">

    <div class="logo">
      <a href="#"><img src="../assets/img/logo1.png" class="logoimg" ></a>
    </div>
  <i class="fas fa-bars" id="menuList" (click)="toggleMenu()"></i>

  <nav class="navbar" id="menu" [class.active]="isMenuOpen">
      <a (click)="navigateHome()">Inicio</a>
      <a (click)="navigateTWH2()">The Weekend Hack II</a>
      <a (click)="navigateRegister()" >Registrarse</a>
  </nav>
</header>

<div class="space"></div>

<router-outlet></router-outlet>


