<div class="contentSlider">
  <div id="slider">
    <input type="radio" name="slider" id="s1" checked>
    <input type="radio" name="slider" id="s2">
    <input type="radio" name="slider" id="s3">
    <input type="radio" name="slider" id="s4">
    <input type="radio" name="slider" id="s5">


    <label for="s1" id="slide1"><img src="./assets/img/TWH/img3.jpeg" alt="Imagen 1"></label>
    <label for="s2" id="slide2"><img src="./assets/img/TWH/img2.jpg" alt="Imagen 2"></label>
    <label for="s3" id="slide3"><img src="./assets/img/TWH/img1.jpeg" alt="Imagen 3"></label>
    <label for="s4" id="slide4"><img src="./assets/img/TWH/img1.jpeg" alt="Imagen 4"></label>
    <label for="s5" id="slide5"><img src="./assets/img/TWH/img1.jpeg" alt="Imagen 5"></label>
  </div>
  <div class="textSlider">
    <h2>The Weekend Hack​ <span> I Edición </span></h2>
    <p>El 15 de julio, en el Auditorio Bancalari - Campus Monterrico de la Universidad Peruana de Ciencias Aplicadas,
      expertos en ciberseguridad compartieron sus conocimientos en una serie de ponencias. En dos sesiones, tanto por
      la mañana como por la tarde, los asistentes tuvieron la oportunidad de aprender de primera mano de aquellos que
      son referentes en el campo.
      <br><br>
      Además, The Weekend Hack también contó con una competencia virtual de Capture the Flag (CTF) los días 13, 14 y 16
      de julio. Los participantes se prepararon para poner a prueba sus habilidades en este emocionante desafío. También
      se ofrecieron talleres los días 13 y 14, donde los participantes pudieron adquirir las habilidades esenciales para
      competir en el CTF. El 16 de julio fue el gran día de la competencia.</p>
  </div>
</div>

