<div class="contentRegister">
  <div class="registerText">
    <h1>REGISTRATE EN LOS TALL<span>ERES DE TU PREFERENCIA</span></h1>
    <div class="botonesRegister">
      <div class="buttonRegister">
        <h2> Talleres Virtuales</h2>
        <h3> ( 9 - 12 de julio ) </h3>
        <h6> Registrate aquí </h6>
        <a href="https://forms.gle/VvzEFeyC3bR7Rgcv8" target="_blank"><i class="fa-solid fa-envelope-open-text"></i></a>
      </div>
      <div class="buttonRegister">
        <h2> Talleres Presenciales</h2>
        <h3> ( 13 de julio ) </h3>
        <h6> Registrate aquí </h6>
        <a href="https://forms.gle/m7VFVhYtbDhgrS1V9" target="_blank"><i class="fa-solid fa-envelope-open-text"></i></a>

      </div>
    </div>
  </div>
</div>

