<div class="timeline">
  <div class="container right">
    <div class="content">
      <div class="tag">
        <h2>Dia 1 (--/--/22024)</h2>
      </div>
      <div class="decs">
        <p>
          Virtual o Presencial <br><br>
          <b>18:00 – 22:00:</b> Taller dedicado al CTF.
        </p>
      </div>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <div class="tag">
        <h2>Dia 2 (--/--/2024)</h2>
      </div>
      <div class="decs">
        <p>
          Virtual o Presencial <br><br>
          <b>18:00 – 22:00:</b> Taller dedicado al CTF.
        </p>
      </div>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <div class="tag">
        <h2>Dia 3 (--/--/22024)</h2>
      </div>
      <div class="decs">
        <p>
          Virtual o Presencial <br><br>
          <b>09:00 – 10:00:</b> Reunión para dar indicaciones del CTF. <br>
          <b>10:00 – 15:00:</b> Desarrollo del CTF.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="content finally">
  <div class="tag">
    <h2>Dia 4 (--/--/22024)</h2>
  </div>
  <div class="decs">
    <h5>Etapa 1 - 09:00 - 13:30</h5>
    <h6>(4 horas y media)</h6>
    <p>
      <br>
      <b>09:00 – 09:10:</b>      Ingreso Auditorio <br>
      <b>09:10 – 09:30:</b>      Presentación CS - TWH <br>
      <b>09:30 – 10:30:</b>      PONENTE 2 <br>
      <b>11:30 – 11:50:</b>      Coffee Break / Networking <br>
      <b>11:50 – 12:50:</b>      PONENTE 3 <br>
      <b>12:50 – 13:00:</b>      Sorteo / Kahoot <br>
      <b>13:00 – 13:20:</b>      Agradecimiento: equipo, empresas, etc. <br>
      <b>13:20 – 13:30:</b>      Fotos / Salida <br>
    </p>
    <br>
    <h5>Etapa 2 - 15:00 - 19:30</h5>
    <h6>(4 horas y media)</h6>
    <p>
      <br>
      <b>09:00 – 09:10:</b>      Ingreso Auditorio <br>
      <b>09:10 – 09:30:</b>      Presentación CS - TWH <br>
      <b>09:30 – 10:30:</b>      PONENTE 2 <br>
      <b>11:30 – 11:50:</b>      Coffee Break / Networking <br>
      <b>11:50 – 12:50:</b>      PONENTE 3 <br>
      <b>12:50 – 13:00:</b>      Sorteo / Kahoot <br>
      <b>13:00 – 13:20:</b>      Agradecimiento: equipo, empresas, etc. <br>
      <b>13:20 – 13:30:</b>      Fotos / Salida <br>
    </p>
  </div>
</div>
