<div class="timeline">
  <div class="container right">
    <div class="content">
      <div class="tag">
        <h2>Taller 1 - Básico (09/07/2024)</h2>
      </div>
      <div class="decs">
        <p>
          Virtual <br><br>
          <b>18:00 – 20:00:</b> 1er taller práctico dedicado al Capture The Flag.
        </p>
      </div>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <div class="tag">
        <h2>Taller 2 - Básico (10/07/2024)</h2>
      </div>
      <div class="decs">
        <p>
          Virtual <br><br>
          <b>18:00 – 20:00:</b> 2do taller práctico dedicado al Capture The Flag.
        </p>
      </div>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <div class="tag">
        <h2>Taller 3 - Intermedio (11/07/22024)</h2>
      </div>
      <div class="decs">
        <p>
          Virtual <br><br>
          <b>18:00 – 20:00:</b> 3ro taller práctico dedicado al Capture The Flag.
        </p>
      </div>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <div class="tag">
        <h2>Taller 4 - Intermedio (12/07/2024)</h2>
      </div>
      <div class="decs">
        <p>
          Virtual <br><br>
          <b>18:00 – 20:00:</b> 4to taller práctico dedicado al Capture The Flag.
        </p>
      </div>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <div class="tag">
        <h2>Taller 5 - ETAPA 1 (13/07/22024)</h2>
      </div>
      <div class="decs">
        <p>
          Presencial - UPC sede Monterrico <br>
          (prolongación Primavera 2390, Monterrico, Santiago de Surco).<br><br>
          <span><b>ETAPA 1:</b></span> <br><br>
          <b>09:00 - 9:10:</b> Ingreso al Auditorio Bancalari.<br><br>
          <b>09:10 - 9:30:</b> Presentación del CS y TWH.<br><br>
          <b>09:30 - 10:30:</b> Gianpaul Custodio con el tema “El peligro de descargarte aplicaciones no oficiales "FREE"”  <br><br>
          <b>10:30 - 11:30:</b> Jesus Hurtado con el tema "Evolución de la Ciberseguridad luego del COVID-19".<br><br>
          <b>11:30 - 12:00:</b> Coffee break (Networking).<br><br>
          <b>12:00 - 13:00:</b> Goblin Slayer con el tema "Ciberseguridad".<br><br>
          <b>13:00 - 13:10:</b> Sorteo de premios y Kahoot.<br><br>
          <b>13:10 - 13:20:</b> Agradecimientos a los colaboradores y cierre de la etapa.<br><br>
          <b>13:20 -   *  :</b> Fotos y salida del auditorio.<br><br>

        </p>
      </div>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <div class="tag">
        <h2>Taller 5 - ETAPA 2 (13/07/22024)</h2>
      </div>
      <div class="decs">
        <p>
          Presencial - UPC sede Monterrico <br>
          (prolongación Primavera 2390, Monterrico, Santiago de Surco).<br><br>
          <span><b>ETAPA 2:</b></span> <br><br>
          <b>15:00 - 15:10:</b> Ingreso al Auditorio Bancalari.<br><br>
          <b>15:10 - 15:20:</b> Presentación del CS y TWH.<br><br>
          <b>15:20 - 16:20:</b> Christopher Díaz con el tema “Ciberseguridad en acción: una década de anécdotas y memes”  <br><br>
          <b>16:20 - 17:20:</b> Sandra Tovar con el tema "Las Estrategias de un Ciberataque: Principales Actores y el Análisis de MITRE ATT&CK".<br><br>
          <b>17:20 - 17:40:</b> Coffee break (Networking).<br><br>
          <b>17:40 - 18:40:</b> Ponente por confirmar con el tema "---".<br><br>
          <b>18:40 - 18:50:</b> Sorteo de premios y Kahoot.<br><br>
          <b>18:50 - 19:00:</b> Agradecimientos a los colaboradores y cierre de la etapa.<br><br>
          <b>19:00 -   *  :</b> Fotos y salida del auditorio.<br><br>

        </p>
      </div>
    </div>
  </div>
</div>
<div class="content finally">
  <div class="tag">
    <h2>Competencia "Capture The Flag" (14/07/22024)</h2>
  </div>
  <div class="decs">

    <p>Un Capture The Flag (CTF) es una competencia de ciberseguridad en la que los
      participantes se enfrentan a una serie de desafíos diseñados para evaluar sus habilidades y
      conocimientos en diversas áreas de seguridad. Estos desafíos pueden incluir criptografía,
      ingeniería inversa, explotación de vulnerabilidades, análisis forense, entre otros.</p><br>

    <h5>10:00 - 16:00: (6 horas de desafio)</h5>
    <p>Se recomienda leer antes de la competencia nuestro documento de especificaciones e instrucciones para el CTF y Código de conducta</p>
  </div>
  <div class="contentButton">
    <div class="buttonContent">
      <button class="btn btn-primary"> <a href="https://drive.google.com/file/d/1WhYMwDTHzfH4MHsHqZjTaGIfH6OAZyF0/view" target="_blank"> Instrucciones</a></button>
    </div>
    <div class="buttonContent">
      <button class="btn btn-primary"> <a href="https://drive.google.com/file/d/1D0GRYLyfYO0GnoITJg4j-32VoE3vLE24/view" target="_blank"> Código de Conducta</a></button>
    </div>
  </div>

</div>


