.contSponsors{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sponsors{
    margin: 30px 30px;

}
.contImgSponsors{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 15px var(--mainColor);
}
.contSponsors img{
  width: 300px;
  height: 300px;
}

@media (max-width: 1000px){

    .contImgSponsors img{
        width: 200px;
        height: 200px;
    }

}


